<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title class="header">{{categoryTitle}}</ion-title>
      <ion-icon slot="end" name="home" (click)="home()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card *ngFor="let article of items?.response.results" (click)="openArticle(article.fields.body, article.webTitle)">
    <ion-card-content>
      <div class="thumbnail-image">
        <ion-img [src]="article.fields.thumbnail" [hidden]="!article.fields.thumbnail"></ion-img>
        <img class="thumbnail-placeholder" src="assets/imgs/500px-The_Guardian_2018.png" [hidden]="article.fields.thumbnail">
      </div>
      <div class="article-title">
        <ion-label>{{article?.webPublicationDate.slice(8,10)}}.{{article?.webPublicationDate.slice(5,7)}}.{{article?.webPublicationDate.slice(0,4)}} {{article?.webPublicationDate.slice(11,16)}}</ion-label>
        <ion-card-title>{{article?.webTitle}}</ion-card-title>
        <ion-button fill="clear" (click)="save(article);$event.stopPropagation();">SAVE</ion-button>
      </div>
      
      
      <!--<ion-button (click)="delete();$event.stopPropagation();">clear storage</ion-button>-->
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Powered By The Guardian API</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>