ion-toolbar {
    --background: #160968;
    --color: white;
}

.talo {
    margin-right:10px;
}

ion-grid {
    background-color: #dadff5;
}

ion-row {
    background-color:white;
}

img {
    width: auto !important;
    height: auto !important;
    //max-width: 100px !important;
    //height: auto !important;
}

p {
    text-rendering: optimizeLegibility;
    font-family: 'Verdana' !important;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

