<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title class="header">{{categoryTitle}}</ion-title>
      <ion-icon class="talo" slot="end" name="home" (click)="home()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>{{title}}</h3>
        <p><span [innerHTML]="article"></span></p> 
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>