ion-toolbar {
    --background: #160968;
    --color: white;
}

ion-content {
    --background: #dadff5;
}

ion-card {
    --background: white;
    border-radius: 0px;
    margin-left:-4%;
    margin-right:-1%;
}

ion-button {
    //position:relative;
    float:left;
    margin-left:-10px;
    padding-left:-10px;     
}
 
.thumbnail-image {
    height: 100%;
    width: 45%;
    float: left;
    margin-top: -3%;
}

.article-title {
    width: 53%;
    float: right;
    padding-bottom: 2%;
    padding-top: 2%;
}

@media screen and (max-width: 700px) {
    .thumbnail-image {
        height: 100%;
        width: 53%;
        float: left;
        margin-top: -3%;
    }

    ion-label {
        font-size: 70%;
    }

    ion-card-title {
        font-size: 80%;
    }

    .article-title {
        width: 45%;
        float: right;
        margin-top: -3%;
        padding-bottom: none;
    }

    ion-button {
        font-size: 70%;
        margin-top: -3%;
        margin-bottom: none;
    }
}

@media screen and (max-width: 450px) {
    .thumbnail-image {
        height: 100%;
        width: 55%;
        float: left;
        margin-top: -5%;
        margin-left: -3%;
    }

    ion-label {
        font-size: 60%;
    }

    ion-card-title {
        font-size: 85%;
    }

    .article-title {
        width: 43%;
        float: right;
        margin-top: -4%;
        margin-bottom: none;
        padding-bottom: none;
    }

    ion-button {
        font-size: 60%;
        margin-top: -4%;
        margin-bottom: none;
    }
}
