<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title class="header">Saved Articles</ion-title>
      <ion-icon slot="end" name="home" (click)="home()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let title of title; let i = index;" (click)="openArticle(title, content[i])">
    <ion-card-content>
      <div class="thumbnail-image">
        <ion-img [src]="image[i]"></ion-img>
      </div>
      <div class="article-title">
        <ion-card-title>{{title}}</ion-card-title>
      </div>
      <div class="article-title">
        <ion-button fill="clear" (click)="delete(i);$event.stopPropagation();">Remove</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>