// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

* {
    font-family:'Arial';
}

.header {
    font-weight: 600;
}

ion-buttons {
    margin-right:10px;
    
}


img {
    width: auto !important;
    height: auto !important;
    //height: auto !important;
}

p {
    min-width: 200px;
    text-rendering: optimizeLegibility;
    font-family: 'Verdana' !important;
    font-size: 1.0625rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

