ion-header, ion-toolbar {
  --background:#160968;
  color:white;
  
}

.talo {
  padding-bottom:15px;
  margin-right:10px;
  color:white;
}

ion-searchbar {
  width:100%;
}

ion-button {
  --background: #422688;
  color:white !important;
  width: 100%;
  --border-radius:0px;
}

ion-col {
  width:50%;
}



ion-card-title {
    font-size:20px;
    text-decoration:none;
    font-family:'verdana';
    color:rgb(0, 0, 0);
    
}

ion-icon {
  color:rgb(255, 174, 0);
  font-size:35px;

}

ion-item {
  --background: #ffffff !important;

  
  
}

ion-card {
  border-radius:0px;
  margin-left:-30px;
  margin-right:-20px;
  
}

ion-card {
    background-color: #ffffff !important;
    margin-left:-30px;
    
    
}

ion-content {
 --background: #dadff5 !important;
}