<ion-header>
  <ion-toolbar>
    <ion-title class="header">
      Out To Lunch News
    </ion-title>
    <ion-icon class="talo" slot="end" name="arrow-up"  (click)="scrollToTop()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="scroll($event)">
  <ion-grid>
    <ion-row>
      <ion-searchbar [(ngModel)]="input" (ionChange)="filterItems($event)"></ion-searchbar>
    </ion-row>
    <ion-row>
      <ion-col>   
        <ion-button ion-button (click)="toggleShow()">{{showText}}</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="saved()">Saved articles</ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showText=='Show All'">
      <ion-col>
        <ion-card *ngFor="let title of favTitle;" (click)="openCategory(title)">
          <ion-card-content>
            <ion-item lines="none">
              <ion-card-title>{{title}}</ion-card-title>
              <ion-icon class="star" (click)="unfavoriteCategory(title);$event.stopPropagation();" slot="end" name="star"></ion-icon>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showText=='Show Favorites'">
      <ion-col>
        <ion-card *ngFor="let title of webTitle" (click)="openCategory(title)">
          <ion-card-content>
            <ion-item lines="none">
              <ion-card-title>{{title}}</ion-card-title>
              <ion-icon *ngIf="isFav(title)" (click)="unfavoriteCategory(title);$event.stopPropagation();" slot="end" name="star"></ion-icon>
              <ion-icon *ngIf="!isFav(title)" (click)="favoriteCategory(title);$event.stopPropagation();" slot="end" name="star-outline"></ion-icon>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Powered By The Guardian API</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
